<mat-grid-list cols="1" rowHeight="50%">

  <mat-grid-tile>

    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
      <mat-tab label="Beacons">

        <ng-template matTabContent>
          <app-users-table [users]="users" [evacuationStarted]="evacuationStarted" (localizeUser)="localizeUser($event)"></app-users-table>
        </ng-template>

      </mat-tab>
      <mat-tab label="Sensors">

        <app-sensors-table [sensors]="sensors"></app-sensors-table>

      </mat-tab>
    </mat-tab-group>

  </mat-grid-tile>

  <mat-grid-tile>
    <div id='map-container'></div>
  </mat-grid-tile>

</mat-grid-list>
