<mat-grid-list cols="1" rowHeight="50%">

  <mat-grid-tile>

    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
      <mat-tab label="Beacons">

        <table mat-table [dataSource]="usersDataSource" class="mat-elevation-z8" multiTemplateDataRows>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of usersDisplayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="usersDisplayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div><strong>Status: </strong>{{element.status}}</div>
                <div><strong>Phone: </strong>{{element.phone}}</div>
                <div><strong>Latitude: </strong>{{element.coordinates.lat}}</div>
                <div><strong>Longitude: </strong>{{element.coordinates.lng}}</div>
                <div><strong>Floor: </strong>{{element.coordinates.zLevel}}</div>
                <button disabled>LOCALIZE</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="usersDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: usersDisplayedColumns;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons #usersPaginator></mat-paginator>

      </mat-tab>
      <mat-tab label="Sensors">

        <table mat-table [dataSource]="sensorsDataSource">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of sensorsDisplayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="sensorsDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: sensorsDisplayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons #sensorsPaginator></mat-paginator>

      </mat-tab>
    </mat-tab-group>

  </mat-grid-tile>

  <mat-grid-tile>
    <div id='map-container'></div>
  </mat-grid-tile>

</mat-grid-list>
